<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195133697068-q7ook99mv5mdm6qlop2pqlqncildp2c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195133697068-q7ook99mv5mdm6qlop2pqlqncildp2c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAuY_THghSgsFML_BIgrk58q1gWCgcmQYY</string>
	<key>GCM_SENDER_ID</key>
	<string>195133697068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demessance.fr.cookeat</string>
	<key>PROJECT_ID</key>
	<string>cookeat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cookeat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195133697068:ios:95a47a5f8dc824f7a1f589</string>
</dict>
</plist>